.task-list {
    width: 40%;
    height: 250px;
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: var(--color-surface) var(--color-surface-raised);
    scrollbar-gutter: stable;
}

/* .task-list::-webkit-scrollbar {
    width: 4px;
}

.task-list::-webkit-scrollbar {
    background: red;

} */

/* .task-list::-webkit-scrollbar-thumb {
    background: var(--color-surface-raised);
    border-radius: 10px;
    
} */

/* .task-list::-webkit-scrollbar-thumb:hover {
    background: ;
} */

.task-list_item {
    width: 100%;
    font-size: var(--font-size-md);
    cursor: pointer;
}

.task-list_item-completed {
    text-decoration: line-through;
}