.task-list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 40%;
}

.task-list_item {
    width: 100%;
    font-size: var(--font-size-md);
    cursor: pointer;
}

.task-list_item-completed {
    text-decoration: line-through;
}