.task-list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 40%;
    padding: 12px;
    border-radius: 8px;

    box-shadow: var(--shadow-sm);
    background-color: var(--color-surface);
}

.task-list_item {
    width: 100%;

    color: var(--color-text);
    background-color: var(--color-surface-raised);
    border: none;
    border-radius: 6px;
    box-shadow: var(--shadow-sm);
    padding: 12px;

    cursor: pointer;
}

.task-list_item-completed {
    text-decoration: line-through;
}