.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.gap-sm {
    gap: 8px;
}

.gap-md {
    gap: 10px;
}

.gap-lg {
    gap: 12px;
}